@mixin error-text {
  padding: 6px 16px;
  color: rgb(var(--v-theme-error));
  font-size: 12px;
  line-height: 12px;
  word-break: break-word;
}
  
@mixin element-shadow {
  box-shadow: 0 3px 1px -2px var(--v-shadow-key-umbra-opacity, rgb(0 0 0 / 20%)), 0 2px 2px 0 var(--v-shadow-key-penumbra-opacity, rgb(0 0 0 / 14%)), 0 1px 5px 0 var(--v-shadow-key-penumbra-opacity, rgb(0 0 0 / 12%))
}
  

$font-mono: 'Red Hat Mono', monospace;
