@use 'vuetify/lib/styles/main.sass';

*::selection {
  background: hsl(248deg 53% 58%);
}

*::-webkit-scrollbar {
  width: rem(4px);
  height: rem(4px);
}

*::-webkit-scrollbar-thumb {
  background-color: #c1c1c1;
}

* {
  scrollbar-width: thin;
  scrollbar-color: hsl(0deg 0% 89%);
}

body {
  background: hsl(0deg 0% 96%);
  color: hsl(180deg 25% 25%);
}

.pre-line {
  white-space: pre-line;
}
